<% if current_user.followings_posts.any? %>
    <div>
        <%= render partial: "posts/shared/posts", locals: { posts: current_user.feed } %>
    </div>
<% else %>
    <div>
        <p>No posts have been made by users you follow...</p>
    </div>
<% end %>