<div class="index-main-wrapper" style="display: flex; flex-direction: column;">
    <h1 class="index-title" style="display: flex; justify-content: center;">Your Feed</h1>
    
    <div class="new-post-wrapper" style="align-self: center;">
        <%= turbo_frame_tag "new-post", src: new_post_path(context: :index) %>
    </div>
    <% if @posts.present? %>
        <div id="posts">
            <% @posts.each do |post| %>
                <%= render partial: "post", locals: { post: post, user_post_likes: @user_post_likes, user_comment_likes: @user_comment_likes  } %>
            <% end %>
        </div>
        <div id="posts-pagination">
            <%= link_to "⇓ Load More Posts ⇓", posts_path(page: @pagy.next, format: :turbo_stream), data: { turbo_stream: true, turbo_prefetch: false }, class: "pagination" %>
        </div>
    <% else %>
        <div>
            <p>No posts have been made by users you follow...</p>
        </div>
    <% end %>
</div>