html {
    background-color: lightslategray;
}

header {
    background-color: lightgray;
}

a {
    color: black;
}

a:hover{
    color: blue;
}

:visited {
    color: black;
}

.like-button,
.unlike-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: inline;
    cursor: pointer;
}  
