html {
    background-color: lightslategray;
}

header {
    background-color: lightgray;
}

footer {
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: black;
}

a:hover{
    color: blue;
}

:visited {
    color: black;
}

.like-button,
.unlike-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: inline;
    cursor: pointer;
}

.load-more-link {
    background-color: lightgray;
    display: block;
    width: 100%;
    text-align: center;

}

.load-more-link:hover {
    background-color: white;
}
